@import "tailwindcss";

body {
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
}

* {
    cursor: default !important;
}

.drag {
    --wails-draggable: drag
}

.no-drag {
    --wails-draggable: no-drag
}